[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
testfixtures = "*"
grpcio-tools = "*"
testpath = "*"

[packages]
docopt = "*"
six = "*"
schema = "*"
uuid = "*"
grpcio = "*"

[requires]
python_version = "3.6"
